.add_task_title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.add_task_title_wrapper > input {
  border: 1px solid black;
  width: 10rem;
  height: 1.75rem;
  padding: 0.5em;
  font-size: 1.25em;
}
