.data_filter_modal_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
}
.data_filter_modal_wrapper button {
  margin-left: 1em;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #57606f;
  transition: 0.5 all;
}

.data_filter_modal_wrapper button:hover {
  background-color: #2f3542;
  color: #fff;
}
